<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

	<listeners>
    	<listener class-name="TestScripts.Listeners"></listener>
	</listeners>

	<parameter name="browser" value="Chrome"></parameter>
  	<test thread-count="5" name="Test">
  	<groups>
  		<run>
  			<include name = "NotesTest"></include>
  		</run>
  	</groups>
   	<classes>
   
   		<!--<class name="TestScripts.QALegendLoginPageTest">
	      	<methods>
	      		<include name="invalidLogin"></include>
	      	</methods>
      	</class>-->
      	    
    	<class name="TestScripts.QAlegendNotePageTest">
      		<methods>     			
      			<include name="addNote"></include>
      			<exclude name="editNote"></exclude>
      			<exclude name="deleteNote"></exclude>
      		</methods>
      	</class>
      	
    <!--	<class name="TestScripts.QALegendClientPageTest">
	      	<methods>
	      		<include name="addClient"></include>
	      	</methods>
      	</class>-->
      	     	
   		<!--<class name="TestScripts.QALegendProjectsPageTest">
      		<methods>     			
      			<include name="addProject"></include>
      		</methods>
      	</class>-->
      	
  	<!--	<class name="TestScripts.QALegendItemPageTest">
      		<methods>     			
      			<include name="addItem"></include>
      			<exclude name="editItem"></exclude>
      			<exclude name="deleteItem"></exclude>
      		</methods>
      	</class>-->
      	
   <!--   	<class name="TestScripts.QALegendAnnouncementPageTest">
	      	<methods>
	      		<include name="addAnnouncement"></include>
	      	</methods>
      	</class>-->
      	
      	    	     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
