<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">

	<listeners>
    	<listener class-name="TestScripts.Listeners"></listener>
	</listeners>

	<parameter name="browser" value="Chrome"></parameter>
  	<test thread-count="5" name="Test">
   	<classes>
   
   		<!--<class name="TestScripts.QALegendLoginPageTest">
	      	<methods>
	      		<include name="invalidLogin"></include>
	      	</methods>
      	</class>-->
      	
     	<!--<class name="TestScripts.QALegendEventPageTest">
	      	<methods>
	      		<include name="addEvent"></include>
	      		<exclude name="editEvent"></exclude>
	      	</methods>
      	</class>-->
      
    	<class name="TestScripts.QAlegendNotePageTest">
      		<methods>     			
      			<exclude name="addNote"></exclude>
      			<include name="editNote"></include>
      			<exclude name="deleteNote"></exclude>
      		</methods>
      	</class>
      	
    	<!--<class name="TestScripts.QALegendClientPageTest">
	      	<methods>
	      		<include name="addClient"></include>
	      	</methods>
      	</class>-->
      	     	
   	<!--	<class name="TestScripts.QALegendProjectsPageTest">
      		<methods>     			
      			<include name="addProject"></include>
      		</methods>
      	</class>-->
      	
  		<!--<class name="TestScripts.QALegendItemPageTest">
      		<methods>     			
      			<exclude name="addItem"></exclude>
      			<include name="editItem"></include>
      			<exclude name="deleteItem"></exclude>
      		</methods>
      	</class>-->
      	
      	<!--<class name="TestScripts.QALegendAnnouncementPageTest">
	      	<methods>
	      		<include name="addAnnouncement"></include>
	      	</methods>
      	</class>-->
      	     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
